* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
img {
    max-width: 100%;
    max-height: 100%;
}
.mc_wrapper {
    width: 100%;
    height: 100vh;
}
header {
    height: 100px;
}
main {
    border-top: 2px solid green;
    height: calc(100% - 100px);
}

.flip-card {
  background-color: transparent;
  height: 300px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

.flip-card-front {
    background-color: white;
}

.flip-card-back {
  transform: rotateY(180deg);
}

.animation {
    transform: rotateY(180deg);
}
.row .col:nth-child(1) .animation{
    transition-delay: 200ms;
}
.row .col:nth-child(2) .animation{
    transition-delay: 400ms;
}
.row .col:nth-child(3) .animation{
    transition-delay: 600ms;
}
.row .col:nth-child(4) .animation{
    transition-delay: 800ms;
}
.row .col:nth-child(5) .animation{
    transition-delay: 1000ms;
}
.row .col:nth-child(6) .animation{
    transition-delay: 1200ms;
}